.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation-name: modal-background-fade;
          animation-name: modal-background-fade;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.modal-background .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: modal-drop;
          animation-name: modal-drop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.modal-background .modal-content .modal-header {
  background: #5cb85c;
  color: #fff;
  padding: 0.25em;
}
.modal-background .modal-content .modal-header h2 {
  margin: 0;
  padding: 1em;
}
.modal-background .modal-content .modal-header .close {
  color: #fff;
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
}
.modal-background .modal-content .modal-header .close:hover {
  cursor: pointer;
  color: #000;
}
.modal-background .modal-content .modal-body {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
}
.modal-background .modal-content .modal-body .image-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  width: 50%;
  justify-content: space-around;
}
.modal-background .modal-content .modal-body .image-panel img {
  width: 50%;
}
.modal-background .modal-content .modal-body .image-panel label {
  font-weight: bold;
  font-size: 1.3em;
}
.modal-background .modal-content .modal-body .info-panel {
  flex: 1 1 auto;
}
.modal-background .modal-content .modal-body .info-panel table {
  border: 1px solid #000;
}
.modal-background .modal-content .modal-body .info-panel table caption {
  font-size: 1.2em;
  font-weight: bold;
}
.modal-background .modal-content .modal-body .info-panel table tbody {
  margin: 0.2em;
  font-size: 1.1em;
}
.modal-background .modal-content .modal-body .info-panel table tbody tr td {
  padding: 0.2em;
  border: 1px solid #000;
}
.modal-background .modal-content .modal-body .info-panel table tbody tr .value {
  text-align: right;
}
.modal-background .modal-content .modal-body .info-panel table tbody tr .value em {
  color: #555;
}
.modal-background .modal-content .modal-footer {
  background-color: #5cb85c;
  color: #fff;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-background .modal-content .modal-footer label {
  font-size: 1.2em;
}
.modal-background .modal-content .modal-footer #btnModalConfirm {
  margin: 0.5em 0 0 0;
  background-color: #fff;
  padding: 0.5em 1em 0.5em 1em;
  color: #5cb85c;
  border: 1px solid #fff;
  font-size: 1.2em;
}
.modal-background .modal-content .modal-footer #btnModalConfirm:hover {
  border: 1px outset #5cb85c;
  font-weight: bold;
}

.new-item-menu {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.new-item-menu .dropdown-menu #textItemSearch {
  display: none;
}
.new-item-menu .dropdown-menu .dropdown-box {
  width: 80%;
  position: absolute;
  border: 2px solid black;
  display: none;
  background-color: #fff;
}
.new-item-menu .dropdown-menu .dropdown-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-image: none;
  max-height: 80vh;
  overflow-y: scroll;
}
.new-item-menu .dropdown-menu .dropdown-box ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  border-bottom: 1px ridge black;
  height: 5em;
}
.new-item-menu .dropdown-menu .dropdown-box ul li:hover {
  background-color: #777;
}
.new-item-menu .dropdown-menu .dropdown-box ul li img {
  margin: 0.5em 1em 0 0;
  display: inline;
  height: 80%;
  width: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-item-menu .dropdown-menu .dropdown-box ul li h1 {
  display: inline;
  font-size: 1.5em;
}
.new-item-menu .dropdown-menu .dropdown-box .details {
  display: none;
}
.new-item-menu .submit-panel {
  display: none;
}

@-webkit-keyframes modal-background-fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes modal-background-fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes modal-drop {
  0% {
    top: -150vh;
  }
  100% {
    top: 0;
  }
}
@keyframes modal-drop {
  0% {
    top: -150vh;
  }
  100% {
    top: 0;
  }
}/*# sourceMappingURL=dashboard.css.map */